a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--cor-fundo2);
  border-bottom: 5px solid var(--cor-fundo3);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  width: 50px;
}

.menu {
  display: none;
}

.menu.ativo {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background: var(--cor-fundo2);
  padding: 10px;
  border-radius: 8px;
}

.hamburguer {
  width: 35px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu {
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 20px;
  }

  .hamburguer {
    display: none;
  }
}
